.add-post-card {
    background-color: #fff;
    padding: 20px 30px 10px 30px;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    .user-img {
        width: 70px;
        margin-right: 15px;
        img {
            width: 100%;
        }
    }
    .add-post-box {
        width: calc(100% - 70px);
        .form-group {
            border-bottom: 1px solid #E0E0E0;
            padding: 0 0 10px 0;
            .add-tags-btn {
                border: none;
                color: #353536;
                font-size: 14px;
                font-weight: bold;
                background-color: transparent;
                padding: 5px;
                &:focus {
                    box-shadow: none;
                    outline: none;
                }
            }
            textarea {
                border: none;
                resize: none;
            }
            &:last-child {
                border: none;
                padding: 0;
            }
        }
        .bottom-form-group {
            display: flex;
            justify-content: space-between;
            .post-img-upload {
                margin: 0;
                display: block;
                cursor: pointer;
                font-size: 16px;
                color: #353536;
                i {
                    margin-right: 5px;
                }
                input[type="file"] {
                    display: none;
                }
            }
            .add-post-btn {
                border: none;
                border-radius: 5px;
                background-color: #353536;
                color: #fff;
                font-size: 16px;
                padding: 5px 15px;
            }
        }
        .images-upload {
            display: flex;
            flex-wrap: wrap;
            .image-box {
                position: relative;
                margin: 0 15px 10px 0;
                width: 100px;
                .delete_img {
                    position: absolute;
                    top: 0;
                    right: 0;
                    border: none;
                    background-color: #fff;
                    height: 30px;
                    width: 30px;
                    text-align: center;
                    line-height: 30px;
                    border-radius: 50%;
                }
                .img-upload {
                    width: 100%;
                }
            }
        }
    }
}