.navbar {
    padding: 10px 40px;
    .navbar-brand {
        font-weight: bold;
        text-transform: uppercase;
        color: #007AFF;
        margin-bottom: 0;
        &:hover {
            color: #007AFF;
        }
    }
    .navbar-nav {
        .nav-item {
            .nuxt-link-exact-active {
                color: #353536 !important;
                font-weight: bold;
            }
            .nav-link {
                color: #7F8185;
                &:hover {
                    color: #353536;
                    font-weight: bold;
                }
            }
            .btn {
                height: 100%;
            }
        }
    }
}
