* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    background-color: rgba(243, 244, 246, 1);
    font-family: 'Poppins', sans-serif;
}

.left-side-content,
.right-side-content {}


/*_______________ mainContent _______________*/

@import'homePage';
@import'posts';
@import'profilePage';
@import'rightSide';
@import'leftSide';
@import'settingNavBar';

/*_______________ General _______________*/

@import'buttons';
@import'general';
@import'auth';
@import'addPostCard';
@import'postCard';
@import'navbar';